.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .main {
    width: 100%;
    max-width: 1200px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px; /* Ensure the grid does not exceed this width */
    margin: 0 auto; /* Center the grid */
  }
  
  .h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  