@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #b9adbd;
  color: #fff;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  z-index: 1000; 
  border-radius: 0px 30px 0px 0px;
}

.navbarHeader {
  display: inline-flex;
  align-items: flex-end;
  gap: 60px;
  background-color: #b99cc3;
  border-radius: 0px 30px 0px 0px;
}

.navbarHeader img {
  width: 100px; 
  margin: -15px 1px;
  height: auto;
  transition: 0.5s;
  padding: 2px;
}


.navbar.open {
  transform: translateX(0);
}

.navToggle {
  position: absolute;
  top: 10px;
  left: 260px; 
  background: rgba(42, 42, 42, 90%);
  border-radius: 50px;
  border: none;
  color: #dbdbdb;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 1001; 
  transition: 0.5s;
  visibility: 1;
  opacity: 1;
}

.navToggle:hover {
  position: absolute;
  top: 10px;
  left: 260px; 
  background: rgba(42, 42, 42, 90%);
  border-radius: 50px;
  border: none;
  color: #dbdbdb;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 10px;
  z-index: 1001; 
  transition: 0.5s;
}

.navContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px 10px;
}

.navContent button {
  border: none;
  color: black;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

}

.navContent button:hover {
  /* text-decoration: underline; */
  background-color: #9f94a3;
  padding: 3px 10px;
  border-radius: 30px;
  font-size: 1.3rem;
  transition: 0.5s;
}

.navBottom {
  vertical-align: bottom;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.navBottom button {
  border: none;
  color: black;
  font-size: 1rem;
  margin: 10px 0;
  cursor: pointer;
}

.navBottom button:hover {
  border: none;
  color: black;
  font-size: 1.1rem;
  margin: 10px 0;
  cursor: pointer;
}


