.container {
  background-color: rgb(184, 184, 184);
  padding: 20px;
}

.logo {
  position: absolute;
  top: 0px;
  right: 0px;
}

.logo img {
  width: 120px; /* Adjust as needed */
  height: auto;
}

.header {
  color: purple;
  font-size: 0.9rem;
  font-style: bold;
}

.title {
  color: purple;
  font-size: 3rem;
  font-weight: bolder;
  padding: 10px 0px;
}

.text {
  color: black;
  font-size: 1rem; 
  padding: 2px 0px;
}
.segment {
  background-color: #9a829c; 
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.segmentHeader {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #2d2d2d;
}

.textField {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline-color: rgb(99, 99, 99); 
  outline-style: solid;
  outline-width: 1px;
}

.emailField {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.emailField input {
  margin-right: 10px;
  outline-color: rgb(99, 99, 99); 
  outline-style: solid;
  outline-width: 1px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: purple;
  color: rgb(203, 203, 203);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(149, 105, 168);
  color: black;
  border-radius: 50px;
  outline-color: rgb(149, 121, 161);
  outline-width: thin;
  outline-style: solid;
  transition: background-color 0.3s, outline-color 0.3s;
}

.gameSelection {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid gray;
  color: rgb(66, 66, 66);
  border-radius: 10px;
  background-color: #888888;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.gameBox p {
  text-align: center;
}

.gameBox.selected {
  text-align: center;
  justify-content: center;
  position: relative;
  background-color: #a3d4a5; 
  border-color: #4caf50; 
  color: black; 
}

.emoji {
  font-size: 3rem;
  color: gray;
}

.emojiSelected {
  font-size: 3rem;
  color: black;
}

.popup {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 200px;
  text-align: center;
}

.popup p {
  margin: 0;
  color: #333;
}

.popup button {
  margin-top: 10px;
  background-color: #888;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #666;
}

.removeButton {
  color: #6e5d6f;
  font-size: 1rem;
}

.removeButton:hover {
  color: black;
  transition: color 0.5s;
}

.addEmail {
  background-color: purple;
  color: rgb(203, 203, 203);
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 10px;
}

.addEmail:hover {
  background-color: rgb(149, 105, 168);
  color: black;
  outline-color: rgb(149, 121, 161);
  outline-width: thin;
  outline-style: solid;
  transition: background-color 0.3s, outline-color 0.3s;
}
